"*":
  whitespace:
    removeTrailingWhitespace: false
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-material-ui"
      "monokai-slate"
    ]
    disabledPackages: [
      "vim-mode"
      "ex-mode"
      "linter-rubocop"
      "linter"
      "lazy-motion"
      "git-plus"
    ]
  editor:
    invisibles:
      eol: " "
      cr: " "
    showIndentGuide: true
    fontSize: 12
    fontFamily: "Dejavu Sans Mono for Powerline"
    lineHeight: 1.2
  "vim-mode": {}
  "highlight-line": {}
  "highlight-selected": {}
  "git-plus": {}
  "goto-last-edit": {}
  "seti-icons":
    iconsPlus: true
  "atom-material-ui":
    ui:
      accentColor: "Blue"
    tabs:
      tabSize: "Small"
      showTabIcons: "Show on all tabs"
    fonts: {}
    treeView:
      compactTreeView: true
    panels:
      panelContrast: true
  "vim-mode-plus":
    incrementalSearch: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "ctags-status": {}
  "trailing-spaces": {}
  "linter-rubocop":
    command: "/home/tung/.rvm/gems/ruby-2.1.5/bin/rubocop"
  linter: {}
  "lazy-motion":
    autoLand: true
  smalls: {}
  "fuzzy-finder":
    preserveLastSearch: true
".erb.html.text":
  editor:
    showInvisibles: false
